body {
    height: 100%;
}
.text-area {
    padding: 30px;   
}

#top {
    height: 300pt;
}

#title {
    font-size: 32pt;
}

#top p {
    font-size: 16pt;   
}

#resumate {
    padding-top: 50px;   
}

#goal {
    padding: 30px; 
    height: 44vh;
}

#goals {
    width: 100%;
}

#goals p{
    font-size: 12pt;
    line-height: 26px;
}

#goals h3 {
    font-size: 17pt;
}

#logo {
    width: 100pt;
    margin-bottom: 5px;
}

#bigbutton h3, #submit, #submit_int {
    font-size: 16pt;   
}

#bigbutton, #submit, #submit_int {
    padding: 0 30px;   
}

#questions1, #questions2, #questions3 {
    padding: 10px 0;
    font-size: 10pt;
    width: 110px;
}

/* CONTACT PAGE */

#contactContainer {
    width: 80%;
}

input[type=text], input[type=email], textarea {
    padding: 2%;
    width: 96%;
}

.interview_questions {
    font-size: 14pt;
    font-weight: 700;
    padding: 10px 0;
}

#mininav {
    display: none;   
}

#back2top {
    display: block;
    font-size: 16pt;
    font-weight: 500;
}

footer p {
    padding-top: 5px;
}

footer {
    padding-top: 30px;
    height: 70px;
}

#hamburger {
    display: block;   
}

.header-text {
    font-size: 32pt;   
}

.description {
    font-size: 16pt;  
    line-height: 16pt;
}

.text, .text-white, #goals p {
    font-size: 16pt;
    line-height: 16pt;
}

#our-goal{
    padding:50px;
    height: inherit;
}

#us {
    height: inherit;
}


.left-image {
    float: left;
    width: 25%;
}

#know-good {
    height: 50%;
    padding-bottom: 30px;
    margin-bottom: -5px;
}

#know-want {
    height: 50%;
    padding-bottom: 30px;
}

.left-text, .right-text, .aboutright-text, #us h4 {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.aboutright-text p {
    font-size: 16pt;
}

#what-know, #knowDesc {
    padding: 0;
}

#what-know input[type="text"], #what-know textarea {
    font-size: 16pt;
}

#knowDesc {
    font-size: 12pt;  
    line-height: 16pt;
    padding: 0 30px;
    margin-bottom: -20px;
}

#what-know h2 {
    padding-top: 30px;
}

#resumeLeft, #resumeRight{
    float: none;
    width: 70%;
    margin: 0 auto;   
}

#what-know input[type=text], #what-know textarea {
    width: 94%;
}

#objPop, #classesPop, #accPop, #actPop, #commPop {
    text-align: left;
}

#resumeLeft {
    padding-top: 30px;
}

#resumeRight {
    padding-bottom: 30px;
}

.popup, .abovePop {
    width: 100%;
    padding: 1% 1.5%;
    text-align: center;
}

.subhead, .subhead-white {
    font-size: 20pt;   
}

.sub-subhead, .sub-subhead-white {
    font-size: 20pt;   
}

.left-image, .right-image {
    display: none;
}   

/* SLIDER IMAGES */

#view-ex, #resources {
    padding: 30px 0;
}

.squares {
    margin: 50px auto 0 auto;
    width: 200px;
}

#resources .squares {
    margin-top: 20px;
}

#resources .squares img {
    width: 150px;
}

.squares img {
    margin-bottom: 20px;
}

.w3-display-left {
    position: relative;
    left: -150px;
    bottom: 140px;
}

.w3-display-right {
    position: relative;
    right: -150px;
    bottom: 140px;
}

#resources .arrows {
    bottom: 0;
    top: 140px;
}

.arrows {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.arrowsCont {
    width: 300px;
    margin: 0 auto;
}

.example {
    margin: 0;
}

#what-know {
    width: 100%;   
}

#guy, #amanthia, #paperpen, #girl, #thumb, #papers, #tallguy {
    display: none; 
}

#interviews {
    background-image: url(../images/tpapers.png);
    background-size: cover;
}

#how-act {
    background-image: url(../images/tfullguy.png);
    background-size: cover;
}
.howDoIAct {
    width: 100%;
}
#goal {
    background-image: url(../images/tguy.png);
    background-size: cover;
}

#what-is {
    background-image: url(../images/tpaperpen.png);
    background-size: cover;
    height: inherit;
}

#know-good {
    background-image: url(../images/tgirl.png);
    background-size: cover;
}

#know-want {
    background-image: url(../images/tlike.png);
    background-size: cover;
}

/* NAVIGATION */

#mobile-header, #nav-button {
    height: 48pt;
    overflow: hidden;
}

#mobile-header {
    width: 100vw;
    background-color: #3B9BEF;
    position: fixed;
}

#nav-button {
    width: 40pt;
    height: 40pt;
    margin: 5px 10px;
    background-color: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav-button:hover {
    /*background-image: url(../img/nav-button-reverse.svg);*/
}

    
    /* Makes #mobile-header visible */
    #mobile-header {
        display: block;
        background-image:url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: 40px;
        padding: 5px 0;
        background-position: center;
    }
    
    #nav-button-container, nav {
        width: 250px;
        transition: transform 0.33s;
    }
    
    nav {
        left: -250px;
        top: 0;
        margin: 0;
        position: fixed;
        height: 100vh;
        background-color: #000;
        overflow: scroll;
        z-index: 10;
    }
    
    nav .links {
        display: block;
        padding: 0;
        margin-top: 18pt;
        background-color: none;
    }
    
    
    .links li{
        padding: 10px 0 10px 20px;
        display: block;
        text-align: left;
    }
    
    nav .links li a {
        text-decoration: none;
        box-sizing: border-box;
        color: white;
        display: block;
        font-size: 18pt;
        text-align: left;
        padding-top: 11px;
        width: 100%;
    }
    
    .links li:hover, .links li:focus {
    height: 70px;
    border-bottom: none;
    background-color: lightskyblue;
    }

    .links li:hover > a, .links li:focus > a {  
        color: black;
    }
    
    main {
        padding-top: 48pt;
    }

/* INTERVIEW QUESTIONS */

#buttonz {
    width: 370px;
    margin: 0 auto;
}

#interviewq {
    width: 80%;
    margin: 0 auto;
}

/* OUTFIT GUIDE */
.changeoutfit, #questions1, #questions2, #questions3 {
    padding: 5px;
    width: 150px;
    margin: 0 5px 25px 5px;
}
#outfitbtns {   
    width: 490px;
}
.changeoutfit:hover, .changeoutfit:focus {
    background-color: lightskyblue;
}
#outfitContainer {
    width: 100%;
    padding-top: 16px;
}
#proGirl {
    margin-left: 50px;
    width: 141.2px;
}    
#proGuy {
    margin-right: 50px;
    width: 150.5px;
}
#bcGirl {
    margin-left: 50px;
    width: 201px;
}    
#bcGuy {
    margin-right: 50px;
    width: 153.5px;
}
#casGirl {
    margin-left: 50px;
    width: 201px;
}    
#casGuy {
    margin-right: 50px;
    width: 153.5px;
}
.outfits {
    height: 468px;
}
#blouse, #blazer, #butUp {
    top: 16%/**distance from top of image */;
    left: 0% /**distance from left of image */;
    width: 130px; /**region width*/;
    height: 120px /**region height*/;
}
#blousepop, #blazerpop, #dressShirtpop, #pantspop, #butUppop, #dresspop, #stockingspop, #shoespop {
    position: absolute;
    padding: 10px;
    z-index: 1;
    width: 130px;
    height: 150px;
}
#stockingspop, #dresspop {
    height: 80px;
}
#blousepop{
    left: 170px;
}
#proGirl #pantspop {
    left: 150px;
}
#dressShirtpop {
    height: 100px;
}
#proGirl #shoespop, #bcGirl #shoespop, #casGirl #shoespop, #casGirl #butUppop {
    left: 140px;
    height: 100px;
}
#casGirl #butUppop {
    height: 150px;
}
#stockingspop {
    left: 120px;
    top: -20px;
}
#blazerpop, #casGuy #butUppop {
    left: -150px;
}
#dressShirtpop {
    left: -210px;
}
#proGuy #pantspop, #bcGuy #pantspop, #casGuy #pantspop {
    left: -170px; 
    height: 100px;
    width: 140px;
}
#bcGuy #butUppop {
    height: 120px;
    left: -150px;
}
#bcGuy #shoespop {
    height: 100px;
    left: -180px;
}
#proGuy #pantspop {
    height: 80px;
    left: -180px; 

}
#casGuy #pantspop {
    width: 120px;
    left: -180px; 
}
#proGuy #shoespop, #casGuy #shoespop {
    left: -200px;
    height: 80px;
}
#butUppop {
    left: -120px;
}
#dressShirt {
    top: 13%/**distance from top of image */;
    left: 40% /**distance from left of image */;
    width: 35px; /**region width*/;
    height: 140px /**region height*/;
}
#dress {
    top: 16%/**distance from top of image */;
    left: 22% /**distance from left of image */;
    width: 120px; /**region width*/;
    height: 200px /**region height*/;
}
#pants {
    top: 43%/**distance from top of image */;
    left: 15% /**distance from left of image */;
    width: 90px; /**region width*/;
    height: 220px /**region height*/;
}
#stockings {
    top: 58%/**distance from top of image */;
    left: 30% /**distance from left of image */;
    width: 70px; /**region width*/;
    height: 130px /**region height*/;
}
#shoes {
    top: 92%/**distance from top of image */;
    left: 29% /**distance from left of image */;
    width: 90px; /**region width*/;
    height: 40px /**region height*/;
}
#shoesCG {
    top: 92%/**distance from top of image */;
    left: 0% /**distance from left of image */;
    width: 90px; /**region width*/;
    height: 40px /**region height*/;
}